body {background-color:#000000}

p{color:#ffffff}

.destacado-parrafo{
  font-style:italic;
  color:#FFA423}

.destacado-titulo{
  font-family:"arial";
  font-style:black;
  font-size:50px;
  color:#FFA423}

